# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]'
# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

.DS_Store


#Gitignoring the directories and files created by the Luigi tasks

extracted-config-data/
All_CUCM-Config-Data/
data-visualisation/
processed_data/
P_CDR_REC.csv
